In [61]:
import pandas as pd
import numpy as np

data = pd.read_table('oup.txt', delim_whitespace=True)
print(len(df))

1085901

In [62]:
data.head()

  sensor value activity state
0   T001    22      NaN   NaN
1   T003  22.5      NaN   NaN
2   T005  23.5      NaN   NaN
3   T002  22.5      NaN   NaN
4   T004    24      NaN   NaN

In [63]:
#df['label'] = df['sensor']
data.loc[data['sensor'] == 'M012','label'] = 1
data.loc[data['sensor'] == 'M010','label'] = 1
data.loc[data['sensor'] == 'M008','label'] = 1
data.loc[data['sensor'] == 'T002','label'] = 1
data.loc[data['sensor'] == 'M007','label'] = 1
data.loc[data['sensor'] == 'M009','label'] = 1
data.loc[data['sensor'] == 'M011','label'] = 1
data.loc[data['sensor'] == 'M002','label'] = 1
data.loc[data['sensor'] == 'M013','label'] = 2
data.loc[data['sensor'] == 'M014','label'] = 2
data.loc[data['sensor'] == 'M015','label'] = 2
data.loc[data['sensor'] == 'M003','label'] = 2
data.loc[data['sensor'] == 'T001','label'] = 2
data.loc[data['sensor'] == 'M028','label'] = 3
data.loc[data['sensor'] == 'M029','label'] = 3
data.loc[data['sensor'] == 'M030','label'] = 3
data.loc[data['sensor'] == 'M031','label'] = 3
data.loc[data['sensor'] == 'T004','label'] = 3
data.loc[data['sensor'] == 'M017','label'] = 3
data.loc[data['sensor'] == 'M019','label'] = 4
data.loc[data['sensor'] == 'M020','label'] = 4
data.loc[data['sensor'] == 'T003','label'] = 4
data.loc[data['sensor'] == 'M022','label'] = 4
data.loc[data['sensor'] == 'M018','label'] = 4
data.loc[data['sensor'] == 'M021','label'] = 4
data.loc[data['sensor'] == 'M023','label'] = 5
data.loc[data['sensor'] == 'M016','label'] = 6
data.loc[data['sensor'] == 'M027','label'] = 7
data.loc[data['sensor'] == 'T005','label'] = 7
data.loc[data['sensor'] == 'M025','label'] = 7
data.loc[data['sensor'] == 'M026','label'] = 8
data.loc[data['sensor'] == 'M024','label'] = 8
data.loc[data['sensor'] == 'M004','label'] = 9
data.loc[data['sensor'] == 'M001','label'] = 9

data.loc[data.sensor=='M001','sensor']=1
data.loc[data.sensor=='M002','sensor']=2
data.loc[data.sensor=='M003','sensor']=3
data.loc[data.sensor=='M004','sensor']=4
data.loc[data.sensor=='M005','sensor']=5
data.loc[data.sensor=='M006','sensor']=6
data.loc[data.sensor=='M007','sensor']=7
data.loc[data.sensor=='M008','sensor']=8
data.loc[data.sensor=='M009','sensor']=9
data.loc[data.sensor=='M010','sensor']=10
data.loc[data.sensor=='M011','sensor']=11
data.loc[data.sensor=='M012','sensor']=12
data.loc[data.sensor=='M013','sensor']=13
data.loc[data.sensor=='M014','sensor']=14
data.loc[data.sensor=='M015','sensor']=15
data.loc[data.sensor=='M016','sensor']=16
data.loc[data.sensor=='M017','sensor']=17
data.loc[data.sensor=='M018','sensor']=18
data.loc[data.sensor=='M019','sensor']=19
data.loc[data.sensor=='M020','sensor']=20
data.loc[data.sensor=='M021','sensor']=21
data.loc[data.sensor=='M022','sensor']=22
data.loc[data.sensor=='M023','sensor']=23
data.loc[data.sensor=='M024','sensor']=24
data.loc[data.sensor=='M025','sensor']=25
data.loc[data.sensor=='M026','sensor']=26
data.loc[data.sensor=='M027','sensor']=27
data.loc[data.sensor=='M028','sensor']=28
data.loc[data.sensor=='M029','sensor']=29
data.loc[data.sensor=='M030','sensor']=30
data.loc[data.sensor=='M031','sensor']=31
data.loc[data.sensor=='T001','sensor']=32
data.loc[data.sensor=='T002','sensor']=33
data.loc[data.sensor=='T003','sensor']=34
data.loc[data.sensor=='T004','sensor']=35
data.loc[data.sensor=='T005','sensor']=36
data.loc[data.value=='ON','value']=0
data.loc[data.value=='OFF','value']=300

In [66]:
data.head(50)
#print(len(df))

   sensor value            activity  state  label
0      32    22                 NaN    NaN    2.0
1      34  22.5                 NaN    NaN    4.0
2      36  23.5                 NaN    NaN    7.0
3      33  22.5                 NaN    NaN    1.0
4      35    24                 NaN    NaN    3.0
5      25   300                 NaN    NaN    7.0
6      24   300                 NaN    NaN    8.0
7       3   300                 NaN    NaN    2.0
8      15   300                 NaN    NaN    2.0
9      18   300                 NaN    NaN    4.0
10      2   300                 NaN    NaN    1.0
11     28   300                 NaN    NaN    3.0
12     10   300                 NaN    NaN    1.0
13     26   300                 NaN    NaN    8.0
14     17   300                 NaN    NaN    3.0
15     14   300                 NaN    NaN    2.0
16     27   300                 NaN    NaN    7.0
17     29   300                 NaN    NaN    3.0
18      1   300                 NaN    NaN    9.0
19      7   300                 NaN    NaN    1.0
20     12   300                 NaN    NaN    1.0
21     21   300                 NaN    NaN    4.0
22      8   300                 NaN    NaN    1.0
23     22   300                 NaN    NaN    4.0
24     30   300                 NaN    NaN    3.0
25     31   300                 NaN    NaN    3.0
26     11   300                 NaN    NaN    1.0
27     19   300                 NaN    NaN    4.0
28     16   300                 NaN    NaN    6.0
29     13   300                 NaN    NaN    2.0
30     20   300                 NaN    NaN    4.0
31      9   300                 NaN    NaN    1.0
32      5   300                 NaN    NaN    NaN
33      4   300                 NaN    NaN    9.0
34      6   300                 NaN    NaN    NaN
35     23   300                 NaN    NaN    5.0
36     32  22.5                 NaN    NaN    2.0
37     34    23                 NaN    NaN    4.0
38     32    22                 NaN    NaN    2.0
39     35  24.5                 NaN    NaN    3.0
40     19     0  R1_Sleeping_in_Bed  begin    4.0
41     19   300                 NaN    NaN    4.0
42     19     0                 NaN    NaN    4.0
43     19   300                 NaN    NaN    4.0
44     32  22.5                 NaN    NaN    2.0
45     19     0                 NaN    NaN    4.0
46     19   300                 NaN    NaN    4.0
47     18     0                 NaN    NaN    4.0
48     19     0                 NaN    NaN    4.0
49     18   300                 NaN    NaN    4.0

In [65]:

data.to_csv('final.txt', sep=' ', index=False)